---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","type":"vcl","versions":[{"testing":false,"service_id":"0WUkvsEaykUtRcqM4kHQnX","comment":"","number":1,"deployed":false,"active":false,"staging":false,"locked":false,"created_at":"2019-11-13T16:13:21Z","updated_at":"2019-11-13T16:13:21Z","deleted_at":null}],"created_at":"2019-11-13T16:13:21Z","updated_at":"2019-11-13T16:13:21Z","id":"0WUkvsEaykUtRcqM4kHQnX","deleted_at":null,"publish_key":"713b4e54406cde757368646094456f6225e3a3d3"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "889"
      Fastly-Ratelimit-Reset:
      - "1573664400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
