---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","id":"2hoCOKoRmmQnHc2mYL4bpH","publish_key":"ec4d1f5090571de4e99adafb1b51945fb845ecc5","updated_at":"2019-11-18T11:04:07Z","type":"vcl","created_at":"2019-11-18T11:04:07Z","deleted_at":null,"versions":[{"service_id":"2hoCOKoRmmQnHc2mYL4bpH","updated_at":"2019-11-18T11:04:07Z","active":false,"number":1,"comment":"","created_at":"2019-11-18T11:04:07Z","testing":false,"deleted_at":null,"deployed":false,"locked":false,"staging":false}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1574078400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
