---
version: 1
interactions:
- request:
    body: Service=2hoCOKoRmmQnHc2mYL4bpH&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 2hoCOKoRmmQnHc2mYL4bpH
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2hoCOKoRmmQnHc2mYL4bpH/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"2hoCOKoRmmQnHc2mYL4bpH","version":"2","comment":"","updated_at":"2019-11-18T11:04:08Z","deleted_at":null,"created_at":"2019-11-18T11:04:08Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "987"
      Fastly-Ratelimit-Reset:
      - "1574078400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
