---
version: 1
interactions:
- request:
    body: Service=0WUkvsEaykUtRcqM4kHQnX&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 0WUkvsEaykUtRcqM4kHQnX
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0WUkvsEaykUtRcqM4kHQnX/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"0WUkvsEaykUtRcqM4kHQnX","version":"2","created_at":"2019-11-13T16:13:22Z","comment":"","updated_at":"2019-11-13T16:13:22Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "886"
      Fastly-Ratelimit-Reset:
      - "1573664400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
