---
version: 1
interactions:
- request:
    body: Service=4qiVpI1PF1fnVVVyvR43hG&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 4qiVpI1PF1fnVVVyvR43hG
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4qiVpI1PF1fnVVVyvR43hG/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"4qiVpI1PF1fnVVVyvR43hG","version":"2","updated_at":"2019-11-20T12:51:18Z","created_at":"2019-11-20T12:51:18Z","deleted_at":null,"comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "987"
      Fastly-Ratelimit-Reset:
      - "1574254800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
