---
version: 1
interactions:
- request:
    body: Service=3hn15tWwwLhD47TJAYqj3C&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 3hn15tWwwLhD47TJAYqj3C
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3hn15tWwwLhD47TJAYqj3C/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"3hn15tWwwLhD47TJAYqj3C","version":"2","public_key":null,"response_condition":"","deleted_at":null,"updated_at":"2019-11-11T09:47:08Z","placement":null,"tls_client_key":null,"ipv4":null,"tls_ca_cert":null,"created_at":"2019-11-11T09:47:08Z","use_tls":"0","tls_hostname":null,"tls_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1573466400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
