---
version: 1
interactions:
- request:
    body: Service=4qiVpI1PF1fnVVVyvR43hG&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 4qiVpI1PF1fnVVVyvR43hG
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4qiVpI1PF1fnVVVyvR43hG/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"4qiVpI1PF1fnVVVyvR43hG","version":"2","tls_client_key":null,"created_at":"2019-11-20T12:51:18Z","public_key":null,"updated_at":"2019-11-20T12:51:18Z","response_condition":"","placement":null,"tls_client_cert":null,"tls_ca_cert":null,"use_tls":"0","ipv4":null,"tls_hostname":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "988"
      Fastly-Ratelimit-Reset:
      - "1574254800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
