---
version: 1
interactions:
- request:
    body: Service=0WUkvsEaykUtRcqM4kHQnX&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 0WUkvsEaykUtRcqM4kHQnX
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0WUkvsEaykUtRcqM4kHQnX/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"0WUkvsEaykUtRcqM4kHQnX","version":"2","tls_client_cert":null,"public_key":null,"tls_ca_cert":null,"created_at":"2019-11-13T16:13:21Z","tls_hostname":null,"deleted_at":null,"placement":null,"updated_at":"2019-11-13T16:13:21Z","tls_client_key":null,"response_condition":"","use_tls":"0","ipv4":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "887"
      Fastly-Ratelimit-Reset:
      - "1573664400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
