---
version: 1
interactions:
- request:
    body: Service=2hoCOKoRmmQnHc2mYL4bpH&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 2hoCOKoRmmQnHc2mYL4bpH
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2hoCOKoRmmQnHc2mYL4bpH/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"2hoCOKoRmmQnHc2mYL4bpH","version":"2","ipv4":null,"tls_client_key":null,"created_at":"2019-11-18T11:04:08Z","tls_ca_cert":null,"use_tls":"0","public_key":null,"placement":null,"updated_at":"2019-11-18T11:04:08Z","deleted_at":null,"tls_hostname":null,"response_condition":"","tls_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "988"
      Fastly-Ratelimit-Reset:
      - "1574078400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
