---
version: 1
interactions:
- request:
    body: Service=4qiVpI1PF1fnVVVyvR43hG&Version=2&content=abcd&content_type=text%2Fplain&name=WAf_Response&response=Ok&status=200
    form:
      Service:
      - 4qiVpI1PF1fnVVVyvR43hG
      Version:
      - "2"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - WAf_Response
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4qiVpI1PF1fnVVVyvR43hG/version/2/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"WAf_Response","response":"Ok","status":"200","service_id":"4qiVpI1PF1fnVVVyvR43hG","version":"2","updated_at":"2019-11-20T12:51:19Z","deleted_at":null,"cache_condition":"","request_condition":"","created_at":"2019-11-20T12:51:19Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "986"
      Fastly-Ratelimit-Reset:
      - "1574254800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
