---
version: 1
interactions:
- request:
    body: Service=2hoCOKoRmmQnHc2mYL4bpH&Version=2&content=abcd&content_type=text%2Fplain&name=WAf_Response&response=Ok&status=200
    form:
      Service:
      - 2hoCOKoRmmQnHc2mYL4bpH
      Version:
      - "2"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - WAf_Response
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2hoCOKoRmmQnHc2mYL4bpH/version/2/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"WAf_Response","response":"Ok","status":"200","service_id":"2hoCOKoRmmQnHc2mYL4bpH","version":"2","request_condition":"","updated_at":"2019-11-18T11:04:09Z","deleted_at":null,"cache_condition":"","created_at":"2019-11-18T11:04:09Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "986"
      Fastly-Ratelimit-Reset:
      - "1574078400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
