---
version: 1
interactions:
- request:
    body: Service=3hn15tWwwLhD47TJAYqj3C&Version=2&content=abcd&content_type=text%2Fplain&name=WAf_Response&response=Ok&status=200
    form:
      Service:
      - 3hn15tWwwLhD47TJAYqj3C
      Version:
      - "2"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - WAf_Response
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3hn15tWwwLhD47TJAYqj3C/version/2/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"WAf_Response","response":"Ok","status":"200","service_id":"3hn15tWwwLhD47TJAYqj3C","version":"2","deleted_at":null,"request_condition":"","cache_condition":"","created_at":"2019-11-11T09:47:09Z","updated_at":"2019-11-11T09:47:09Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "995"
      Fastly-Ratelimit-Reset:
      - "1573466400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
