---
version: 1
interactions:
- request:
    body: Service=3hn15tWwwLhD47TJAYqj3C&Version=2&content=efgh&content_type=text%2Fplain&name=test-response-object-2&response=Ok&status=200
    form:
      Service:
      - 3hn15tWwwLhD47TJAYqj3C
      Version:
      - "2"
      content:
      - efgh
      content_type:
      - text/plain
      name:
      - test-response-object-2
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3hn15tWwwLhD47TJAYqj3C/version/2/response_object
    method: POST
  response:
    body: '{"content":"efgh","content_type":"text/plain","name":"test-response-object-2","response":"Ok","status":"200","service_id":"3hn15tWwwLhD47TJAYqj3C","version":"2","cache_condition":"","request_condition":"","deleted_at":null,"updated_at":"2019-11-11T09:47:12Z","created_at":"2019-11-11T09:47:12Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "994"
      Fastly-Ratelimit-Reset:
      - "1573466400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
