---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","versions":[{"comment":"","staging":false,"number":1,"deleted_at":null,"active":false,"created_at":"2019-11-11T09:47:08Z","testing":false,"service_id":"3hn15tWwwLhD47TJAYqj3C","updated_at":"2019-11-11T09:47:08Z","deployed":false,"locked":false}],"publish_key":"fe546bc09e3ec8138425eb0c34d57454f2c65b13","created_at":"2019-11-11T09:47:08Z","deleted_at":null,"type":"vcl","id":"3hn15tWwwLhD47TJAYqj3C","updated_at":"2019-11-11T09:47:08Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1573466400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
