---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/0MjXWp60xLZ3zwM6LlNoeU?filter%5Bservice_version_number%5D=2
    method: GET
  response:
    body: '{"data":{"id":"0MjXWp60xLZ3zwM6LlNoeU","type":"waf_firewall","attributes":{"service_id":"3hn15tWwwLhD47TJAYqj3C","prefetch_condition":"WAF_Prefetch","response":"WAf_Response","disabled":false,"service_version_number":2,"created_at":"2019-11-11T09:47:10Z","updated_at":"2019-11-11T09:47:10Z","active_rules_trustwave_log_count":0,"active_rules_trustwave_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_score_count":0}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
