---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls?filter%5Bservice_id%5D=3hn15tWwwLhD47TJAYqj3C
    method: GET
  response:
    body: '{"data":[],"links":{"last":"https://api.fastly.com/waf/firewalls?filter[service_id]=3hn15tWwwLhD47TJAYqj3C\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls?filter[service_id]=3hn15tWwwLhD47TJAYqj3C\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":0,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
