---
version: 1
interactions:
- request:
    body: Service=3qt0xLYGlOxt19jpAQ0LJM&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 3qt0xLYGlOxt19jpAQ0LJM
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3qt0xLYGlOxt19jpAQ0LJM/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"3qt0xLYGlOxt19jpAQ0LJM","version":"2","deleted_at":null,"updated_at":"2019-11-20T12:59:04Z","comment":"","created_at":"2019-11-20T12:59:04Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "970"
      Fastly-Ratelimit-Reset:
      - "1574254800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
