---
version: 1
interactions:
- request:
    body: Service=3hn15tWwwLhD47TJAYqj3C&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 3hn15tWwwLhD47TJAYqj3C
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3hn15tWwwLhD47TJAYqj3C/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"3hn15tWwwLhD47TJAYqj3C","version":"2","updated_at":"2019-11-11T09:47:09Z","deleted_at":null,"created_at":"2019-11-11T09:47:09Z","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1573466400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
