---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","id":"4qiVpI1PF1fnVVVyvR43hG","updated_at":"2019-11-20T12:51:17Z","created_at":"2019-11-20T12:51:17Z","versions":[{"created_at":"2019-11-20T12:51:17Z","deployed":false,"updated_at":"2019-11-20T12:51:17Z","active":false,"locked":false,"comment":"","testing":false,"staging":false,"number":1,"deleted_at":null,"service_id":"4qiVpI1PF1fnVVVyvR43hG"}],"deleted_at":null,"type":"vcl","publish_key":"28c080d87c5398c29962b8fd8f9529f45775c36e"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1574254800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
